WCFService/WcfServiceClient/Connected Services/ServiceReference1/wcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/wcf?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
  <xs:element name="Fun1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fun2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fun2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="n1" nillable="true" type="q1:ComplexNum" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="n2" nillable="true" type="q2:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="addCNumResult" nillable="true" type="q3:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multCNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="n1" nillable="true" type="q4:ComplexNum" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="n2" nillable="true" type="q5:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multCNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="multCNumResult" nillable="true" type="q6:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divCNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="n1" nillable="true" type="q7:ComplexNum" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="n2" nillable="true" type="q8:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divCNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="divCNumResult" nillable="true" type="q9:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>