WCFService/WcfServiceClient/Connected Services/ServiceReference3/wcf3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/wcf3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CallbackService" />
  <xs:element name="Fun1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fun2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fun2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Factorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSomething">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fibonacci">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallbackService" minOccurs="0" name="data" nillable="true" type="q1:PersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CallbackService" minOccurs="0" name="data" nillable="true" type="q2:PersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CallbackService" minOccurs="0" name="data" nillable="true" type="q3:PersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FactorialResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSomethingResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CallbackService" minOccurs="0" name="data" nillable="true" type="q4:ArrayOfPersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>